/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  box-sizing: border-box;
}

.container{
  max-width: 1150px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
:root{
  --max-width:1150px;
}
h2{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 70px;
  font-family: mr;
  font-weight: bold;
}
header{
  height: 90px;
}
header .container{
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .menu{
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header .menu ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .menu ul li a{
  padding: 15px;
  text-decoration: none;
  color: #1f373d;
  font-size: 13px;
  font-family: mr;
}
header .btn{
  height: 38px;
  display: flex;
  align-items: center;
  padding: 20px;
}
header .btn a{
  color:#1f373d;
  font-size: 13px;
  font-family: mr;
  text-decoration: none;
}
header .btn .--yellow{
  display: flex;
  background-color: #ffcc01;
  border-radius: 5px;
}
.find{
  height: calc(100vh - 90px);
  background-image: url(../img/hero-banner-luxestate.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.find{
  font-size: 0;
}
.find .container{
  position: relative;
  height:calc(100vh - 90px);
}
.find h1{
  font-size: 61.64px;
  max-width: 55%;
  font-family: mr;
  font-weight: bold;
  padding-top: 150px;
}
.find .contact{
  display: grid;
  grid-template-columns: auto auto;
  background: #ffcc01;
  position: absolute;
  bottom: 0px;
  padding: 30px;
  right: 0;
}
.find .contact .phone{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.find .contact .phone h6{
  margin-left: 30px;
  font-size: 18px;
  font-family: mr;
  font-weight: bold;
}
.find .contact .location{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.find .contact .location h6{
  margin-left: 30px;
  font-size: 18px;
  font-family: mr;
  font-weight: bold;
}
.find .contact .location img{
  margin-left: 40px;
}
.find .search{
  display: flex;
  margin-top: 60px;
  width: 50%;
}
.find .search input[type=text]{
  border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: url(../img/search-luxestate.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 25px 25px;
    border: none;
    padding: 0 50px;
    width: 100%;
    height: 100%;
}
.find .search a{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color:#ffcc01;
  padding: 25px;
  text-decoration: none;
  font-size: 15px;
  font-family: mr;
}
.find .img-scroll{
  position: absolute;
  bottom: 70px;
}
.find .scroll {
  position: absolute;
  left: -10px;
  font-size: 12px;
  font-family: mr;
  color: #818181;
  transform: rotate(-90deg);
  bottom: 140px;
}
.company{
  padding: 90px 0;
}
.company .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.company .textbox .heading{
  max-width: 310px;
} 
.company .textbox .desc{
  max-width: 550px;
  font-family: mr;
}
.company .textbox .desc .--1{
  margin-bottom: 50px;
}
.company .textbox .desc .--1 p{
  font-family: mr;
  font-size: 13px;
}
.company .textbox .desc .--2 p{
  font-family: mr;
  font-size: 13px;
}
.company .listbox{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 430px;
}
.company .listbox h5{
  font-size: 40px;
  color: #ffcc01;
}
.company .listbox .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 200px;
  background: #f6f5f4;
  align-items: center;
}
.company .listbox .box p{
  font-family: mr;
  font-weight: bold;
}
.appartments{
  padding: 90px 0;
  background: #f6f5f4;
}
.appartments .textbox{
  max-width: 460px;
}
.appartments .textbox h2{
  font-family: mr;
}
.appartments .listbox{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.appartments .listbox .box{ 
    flex-grow: 1;
    width: calc(100% / 3 - 30px);
}
.appartments .listbox .box .image{
  position: relative;
  width: 100%;
  padding-bottom: 108%;
  overflow: hidden;
}
.appartments .listbox .box .image img{
    position: absolute;
    width: 101%;
    height: 101%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}
.appartments .listbox .box .intro{
  background-color: #ffffff;
  padding: 20px;
}
.appartments .listbox .box .intro .title h5{
  font-family: mr;
  font-size: 15px;
  font-weight: bold;
}
.appartments .listbox .box .intro .card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.appartments .listbox .box .intro .card h5{
  font-family: mr;
  font-weight: bold;
  color: #ffcc01;
}
.appartments .listbox .box .intro .card .listicon{
  display: flex;
}
.appartments .listbox .box .intro .card .listicon .icon{
  display: flex;
  padding: 15px;
}
.appartments .listbox .box .intro .card .listicon .icon p{
  margin-left: 10px;
}
.appartments .btn{
  background-color: white;
  width: fit-content;
  display: flex;
  padding: 20px;
  margin: 20px auto;
  text-decoration: none;
  color: #1f373d;
  font-family: mr;
  font-size: 15px;
}
.works{
  padding: 90px 0;
}
.works .textbox h2{
  margin-bottom: 30px;
}
.works .textbox p{
  font-family: mr;
  max-width: 350px;
  margin-bottom: 50px;
}
.works .listbox{
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.works .listbox .box{
  padding: 45px;
  background-color: #ffffff;
  max-width: 345px;
  transition: all 0.3s;
}
.works .listbox .box .desc h6{
  font-size: 18px;
  font-family: mr;
  font-weight: bold;
}
.works .listbox .box .desc p{
  font-size: 13px;
  font-family: mr;
  line-height: 24px;
}
.works .listbox .box:hover{
  background-color: #ffcc01;
}
.works .listbox .box:hover .number p{
  color: white;
}
.works .listbox .box:hover .desc p{
  color: white;
}
.works .listbox .box:hover .desc h6{
  color: white;
}
.works .listbox .box:hover .btn a{
  color: white;
}
.works .listbox .box .number p{
  font-size: 100px;
  color: #3f3f3f;
  font-family: mr;
  font-weight: bold;
}
.works .listbox .box .desc{
  margin: 30px 0;
}
.works .listbox .box .desc .description{
  margin-top: 35px;
  margin-left: 25px;
}
.works .listbox .box .btn{
  width: fit-content;
}
.works .listbox .box .btn a{
  margin-left: 25px;
  text-decoration: none;
  color: #1f373d;
  font-size: 13px;
  font-weight: bold;
  font-family: mr;
  line-height: 24px;
  position: relative;
}
.works .listbox .box .btn a::after{
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  background: #3f3f3f;
  left: 0;
  width: 100%;
}
.works .listbox .box:hover .btn a::after{
  background: #ffffff;
}
.services{
  padding-bottom: 80px;
}
.services .textbox .heading{
  margin-bottom: 30px;
}
.services .textbox p{
  max-width: calc(100%/3);
  font-size: 13px;
  font-family: mr;
  margin-bottom: 55px;
}
.services .iteam{
  display: flex;
  justify-content: space-between;
}
.services .iteam .listtext{
  flex-basis: 40%;
  margin: auto 0;
}
.services .iteam .listtext .text{
  margin-bottom: 70px;
}
.services .iteam .listtext :nth-last-child(1){
  margin-bottom: 0;
}
.services .iteam .listtext .text .head{
  margin-bottom: 35px;
  font-size: 25px;
  font-family: mr;
  font-weight: bold;
}
.services .iteam .listtext .text .desc{
  font-size: 13px;
  font-family: mr;
  line-height: 24px;
}
.meet {
  padding: 90px 0;
  background: #f6f5f4;
}
.meet .textbox .heading{
  margin-bottom: 45px;
}
.meet .textbox p{
  max-width: calc(100%/3);
  font-size: 13px;
  font-family: mr;
  margin-bottom: 65px;
  line-height: 24px;
}
.meet .listbox{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.meet .listbox .box{
  flex-grow: 1;
  width: calc(100%/3 - 30px);
}
.meet .listbox .box .image{
  position: relative;
  width: 100%;
  padding-bottom: 108%;
  overflow: hidden;
}
.meet .listbox .box .image img{
  position: absolute;
  width: 101%;
  height: 101%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  object-fit: cover;
}
.meet .listbox .box .intro{
  background-color: #ffffff;
  padding: 25px;
}
.meet .listbox .box .intro .title h5{
  font-size: 15px;
  font-family: mr;
  font-weight: bold;
}
.meet .listbox .box .intro .card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meet .listbox .box .intro .card .name h5{
  color: #ffcc01;
  font-size: 15px;
  font-family: mr;
  font-weight: bold;
}
.meet .listbox .box .intro .card .listicon img{
  padding: 15px;
}
.location .listblock{
  padding: 90px 0;
}
.location .listblock .block{
  display: flex;
  justify-content: space-between;
  padding-bottom: 65px;
}
.location .listblock .block .image{
  position: relative;
}
.location .listblock .block .image img{
  padding-bottom: 25px;
}
.location .listblock .block .image .btn{
  padding: 0 50px;
  display: flex;
  align-items: center;
  position: absolute;
  background: #ffcc01;
  bottom: 0;
  left: 35px;
}
.location .listblock .block .image .btn img{
  padding: 25px 0;
}
.location .listblock .block .image .btn a{
  text-decoration: none;
  font-size: 18px;
  font-family: mr;
  color: #1f373d;
  font-weight: bold;
  margin-left: 25px;
}
.location .listblock .block .text{
  margin: auto 0;
  width: 40%;
}
.location .listblock .block .text h3{
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: bold;
  font-family: mr;
}
.location .listblock .block .text p{
  font-size: 12px;
  font-family: mr;
  line-height: 24px;
}
.location .listblock .block .text .btn{
  margin-top: 55px;
  height: 80px;
  background: #1f373d;
  width: fit-content;
  padding: 30px;
  
}
.location .listblock .block .text .btn a{
  color: white;
  margin: 0 20px;
  text-decoration: none;
  font-family: mr;
  font-size: 18px;
}
.location .listblock :nth-last-child(even){
  flex-direction: row-reverse;
}
.location .listblock :nth-last-child(even) .text p{
  text-align: right;
}
.location .listblock :nth-last-child(even) .text h3{
  text-align: right;
}
.location .listblock :nth-last-child(even) .image .btn{
  left: auto;
  right: 35px;
}
.location .listblock :nth-last-child(1){
  padding: 0;
}
.location .listblock :nth-last-child(1) .image img{
  padding: 0;
}
.touch{
  padding: 90px 0;
  position: relative;
  max-height: 1002px;
  background: #f6f5f4;
}
.touch img{
  position: absolute;
  top:0;
  right: 0;
}
.touch .field .textbox h2{
  margin-bottom: 45px;
}
.touch .field .textbox p{
  margin-bottom: 35px;
  max-width: calc(100%/3);
  font-family: mr;
  font-size: 13px;
  line-height: 24px;
}
.touch .field .info{
  max-width: 445px;
}
.touch .field .info .forminput{
  display: flex;
  margin-bottom: 30px;
}
.touch .field .info .forminput input[type=text]{
  flex:1;
  border: none;
  border-bottom: 1px solid #c0c7d0;
  padding-bottom: 15px;
  font-size: 13px;
  font-family: ms;
}
.touch .field .info .forminput #region{
  border: none;
  border-bottom: 1px solid #c0c7d0;
  padding-bottom: 15px;
  font-size: 13px;
  font-family: ms;
}
.touch .field .info .forminput textarea{
  height: 110px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #c0c7d0;
  padding-bottom: 15px;
  resize: none;
  font-size: 13px;
  font-family: ms;
}
.touch .field .info .head{
  margin-bottom: 20px;
}
.touch .field .info .forminput input[type=radio]{
  margin: 0;
  margin-right: 5px;
}
.touch .field .info .forminput input[type=checkbox]{
  margin: 0;
  margin-right: 5px;
}
.touch .field .info .forminput label{
  margin-right: 75px;
}
.touch .field .info :nth-last-child(1){
  display: initial;
}
.touch .field .info .forminput .checkbox{
  margin-bottom: 15px;
}
.touch .btn{
  display: block;
  width: fit-content;
  padding: 30px 190px;
  background: #1f373d;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;  
  font-family: mr;
  margin-top: 40px;
}
footer{
  padding: 60px;
  background: #1f373d;
}
footer .top{
  position: relative;
  display: flex;
  margin-bottom: 45px;
}
footer .top .textbox{
  max-width: 385px;
}
footer .top .textbox h2{
  color: #ffffff;
  margin: 0;
}
footer .top .subscribe{
  position: absolute;
  width: 475px;
  right: 0;
  bottom: 0;
}
footer .top .subscribe input[type=text]{
  position: relative;
  width: 100%;
  padding: 25px 30px;
}
footer .top .subscribe a{
  position: absolute;
  right: 30px;
  bottom: 25px;
}
footer .line{
  border-bottom: 1px solid #ffffff;
  margin-bottom: 80px;
}
footer .bot{
  display: flex;
  position: relative;
}
footer .bot .img{
  max-width: 125px;
}
footer .bot .img img{
  margin-bottom: 70px;
}
footer .bot .luxestate{
  position: absolute;
  left: calc(100%/3);
}
footer .bot .cpn{
  position: absolute;
  left: calc(100%/2);
}
footer .bot .product{
  position: absolute;
  left: calc(2 * 100%/3);
}
footer .bot .renting{
  position: absolute;
  left: calc(5 * 100%/6);
}
footer .bot h5{
  margin-bottom: 40px;
  color: #919eb1;
  font-size: 13px;
  font-family: mr;
}
footer .bot p{
  color: #ffffff;
  font-size: 13px;
  font-family: mr;
  margin-bottom: 20px;
}
/*Mobile*/
@media only screen and (max-width: 46.1875em){
  header .menu ul{
    display: none;
  }
  header .btn {
    height: 85%;
    width: 50%;
    padding: 0;
  }
  header .btn a{
    padding: 10%;
  }
  .find h1{
    font-size: 35px;
    max-width: 100%;
    padding-top: 50%;
  }
  .find .search {
    width: 100%;
  }
  .find .contact{
    width: 100%;
    justify-content: space-between;
  }
  .find .contact .phone{
    width: 115%;
  }
  .find .contact .phone h6{
    margin: 0;
    font-size: 14px;

  }
  .find .contact .location{
    width: 115%;
  }
  .find .contact .location img{
    margin: 0;
  }
  .find .contact .location h6{
    margin: 0;
    font-size: 14px;
  }
  .company .listbox .box{
    height: 150px;
    width: 150px;
  }
  .appartments .listbox .box{
    width: 100%;
  }
  .works .listbox{
    flex-direction: column;
  }
  .services .textbox p{
    max-width: 100%;
  }
  .services .iteam{
    flex-direction: column;
  }
  .services .iteam img{
    width: 100%;
    margin-bottom: 10%;
  }
  .meet .textbox p{
    max-width: 100%;
  }
  .meet .listbox .box{
    width: 100%;
  }
  .location .listblock .block{
    flex-direction: column;
  }
  .location .listblock .block .text{
    width: 100%;
  }
  .location .listblock .block .image .img{
    width: 100%;
  }
  .location .listblock .block .image .btn{
    width: calc(100% - 35px);
  }
  .location .listblock .block .text{
    margin-top: 10%;
  }
  .touch img{
    display: none;
  }
  .touch .field .textbox p{
    max-width: 100%;
  }
  .touch .btn{
    text-align: center;
    padding: 10%;
    width: 100%;
  }
  footer .top .subscribe{
    display: none;
  }
  footer .bot,footer .bot .luxestate,
  footer .bot .cpn,footer .bot .product,
  footer .bot .renting{
    position: inherit;
    margin-top: 10%;
  }
  footer .bot{
    flex-direction: column;
  }
  footer{
    padding: 60px 30px;
  }
}